{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva' ; font-size : 25px; color : darkcyan ; background-color : black ; font-weight : bold ; margin-top:0.5%">
     Recruiter Login
</marquee>
<hr>
<form class="Container mt-5" method="post">
     {% csrf_token %}
     <label><b>Email ID</b></label>
     <input type="text" class="form-control" name="uname" placeholder="Enter Email ID">

     <label><b>Password</b></label>
     <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

     <input type="Submit" class="btn btn-primary" style="margin-top:1% ; color : darkcyan ; background-color: black">
<a href="{% url 'recruiter_signup' %}" class="btn btn-primary" style="margin-top:1% ; color : darkcyan ; background-color: black">Sign Up</a>
</form>


{% include 'footer.html' %}
{% endblock %}